<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Евиденција на студенти</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Site.css" runat="server" />

</head>
<body style="background-color:#F1F1F3;">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#083755; font-size: 16px; font-weight:500;">
        <div class="container"  >
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" >
                    <li>@Html.ActionLink("Почетна", "Index", "Home")</li>
                    @if (User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Администратор", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Студенти", "Index", "Students")</li>
                        <li>@Html.ActionLink("Професори", "Index", "Professors")</li>
                        <li>@Html.ActionLink("Предмети", "Index", "Courses")</li>
                    }
                    @if (User.IsInRole("Student"))
                    {
                        <li>@Html.ActionLink("Предмети", "Index", "Courses")</li>
                        <li>@Html.ActionLink("Оцени", "Index", "Grades")</li>

                    }
                    @if (User.IsInRole("Professor"))
                    {
                        <li>@Html.ActionLink("Предмети", "Index", "Courses")</li>
                        <li>@Html.ActionLink("Tековни предмети", "Index", "ProfessorsCourses")</li>

                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" >
        @RenderBody() 
        <hr />
    </div>
    <div class="footer" id="site-footer">
        <p>&copy; Скопје, @DateTime.Now.Year </p>
    </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

</body>
</html>
