@model EndToEnd.Models.Student

@{
    ViewBag.Title = "Delete";
}


<br />
<h3>Дали сте сигурни дека сакате да избришете?</h3>
<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Program)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Избриши" class="btn btn-primary" /> 
            @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
