@model EndToEnd.Models.Student

@{
    ViewBag.Title = "Details";
}

<h3>Детали за студентот</h3>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Program)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Промена", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Назад", "Index")
</p>
