@model IEnumerable<EndToEnd.Models.Student>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<p>

    @using (Html.BeginForm())
    {
    <p>
        Индекс на студентот: @Html.TextBox("SearchString")  <input type="submit" value="Пребарај" class=" btn btn-primary" />
    </p>
}
    </p>
<br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentIndex)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentIndex)
                </td>

                <td>
                    @Html.ActionLink("Уреди", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Детали", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Избриши", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
