@model IEnumerable<EndToEnd.Models.Professor>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<p>

    @using (Html.BeginForm())
    {
    <p>
        Презиме на професор: @Html.TextBox("SearchString")  <input type="submit" value="Пребарај" class=" btn btn-primary" />
    </p>
}
    </p>
<br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Уреди", "Edit", new { id = item.IDProF }) |
                    @Html.ActionLink("Детали", "Details", new { id = item.IDProF }) |
                    @Html.ActionLink("Избриши", "Delete", new { id = item.IDProF })
                </td>
            </tr>
        }

    </table>
