@model EndToEnd.Models.Course

@{
    ViewBag.Title = "Delete";
}

<h2>Потврди</h2>
@if (User.IsInRole("Student"))
{
    <h3>Сигурен си дека сакаш да го запишеш овој предмет?</h3>
}
@if (User.IsInRole("Professor"))
{
    <h3>Дали сте сигурни?</h3>
}
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fond)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fond)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Потврди" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
