@model IEnumerable<EndToEnd.Models.Course>

@{
    ViewBag.Title = "Index";
}
<h2>Предмети од факултетската листа</h2>
<h4>Одберете ги вашите тековни предмети</h4>




<br />
<br />
<p>
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Додади нов предмет", "Create", null, new { @class = "btn btn-primary" })
    }
</p>
<table class="table" style="outline-style: solid; outline-width: 2px;">
    <tr style="background-color:#083755; outline-style: solid; outline-width: 2px;">
        <th style="color:gray">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="color:gray">
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th style="color:gray">
            @Html.DisplayNameFor(model => model.Fond)
        </th>
        <th style="color:gray">
            @Html.DisplayNameFor(model => model.Credits)
        </th>
        <th style="color:gray">
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fond)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credits)
        </td>
        <th>
            @Html.ActionLink("Детали", "Details", new { id = item.Code })
            @if (User.IsInRole("Professor"))
            {
                <span>|</span>
                @Html.ActionLink("Додади", "Delete", new { id = item.Code })
            }
            @if (User.IsInRole("Student"))
            {
                <span>|</span>
                @Html.ActionLink("Додади", "Delete", new { id = item.Code })
            }

        </th>
    </tr>
       
    }


</table>
