@model PagedList.IPagedList<EndToEnd.Models.ExpandedUserDTO>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<p>
    @Html.ActionLink("Додадете нов корисник", "Create", null, new { @class = "btn btn-primary" })
</p>
<br />
@using (Html.BeginForm("Index", "Admin", FormMethod.Get))
{

    <div class="form-group">
       Пребарување:&nbsp; @Html.TextBox("searchStringUserNameOrEmail", ViewBag.CurrentFilter as string)

        <input type="submit" value="Пребарај" class=" btn btn-primary" />
    </div>
}
<br />

<table class="table" style="outline-style: solid; outline-width: 2px;">
    <tr style="background-color:#083755; outline-style: solid; outline-width: 2px;">
        <th style="color:gray">
            Email
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
            </td>
            <td>
                @Html.ActionLink("Уреди", "EditUser", new { UserName = item.UserName }) 
                @if ((item.UserName.ToLower() != this.User.Identity.Name.ToLower()))
                {
                    
                }
            </td>
        </tr>
    }


</table>
<br />
Страна @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) oд @Model.PageCount

@Html.PagedListPager(Model,
    page => Url.Action("Index",
    new { page,
        searchStringUserNameOrEmail = ViewBag.searchStringUserNameOrEmail,
        currentFilter = ViewBag.CurrentFilter }))
