@model EndToEnd.Models.StudentGrade

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProfessorsCourse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

     
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Br }) |
    @Html.ActionLink("Back to List", "Index")
</p>
