@model IEnumerable<EndToEnd.Models.StudentGrade>

@{
    ViewBag.Title = "Index";
}
 <br />
<br />



<table class="table" style="outline-style: solid; outline-width: 2px;">
    <tr style="background-color:#083755; outline-style: solid; outline-width: 2px;">
        <th style="color:gray">
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th style="color:gray">
            @Html.DisplayNameFor(model => model.StudentIndex)
        </th>
        <th style="color:gray">
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentIndex)
            </td>
            <td>
                @if (item.Result > 5)
                {
                @Html.DisplayFor(modelItem => item.Result)
                }
            </td>

            <td>
                @Html.ActionLink("Внеси оценa", "Do", new { id = item.PrBr }) 

            </td>
        </tr>

    }
</table>
